<?xml version='1.0' encoding='utf-8'?>
<robot name="X2-EDU">
  <mujoco>
    <compiler meshdir="meshes" discardvisual="false">
      <default>
        <default class="visual">
          <geom group="1" contype="0" conaffinity="0" />
        </default>
        <default class="collision">
          <geom group="2" />
        </default>
      </default>
    </compiler>
  </mujoco>
  <link name="pelvis">
    <inertial>
      <origin xyz="-0.00102270 -0.00002909 -0.00171010" rpy="0 0 0" />
      <mass value="3.59010086" />
      <inertia ixx="0.01277352" ixy="-0.00000060" ixz="0.00014199" iyy="0.00801245" iyz="-0.00000614" izz="0.01266085" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/pelvis.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 1.571 1.571" />
      <geometry>
        <cylinder radius="0.06" length="0.16" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.012 0 -0.01" rpy="0 1.02 0" />
      <geometry>
        <box size="0.05 0.11 0.12" />
      </geometry>
    </collision>
  </link>
  <link name="imu_in_pelvis_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/imu_in_pelvis_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="imu_in_pelvis_joint" type="fixed">
    <origin xyz="0.0240720441523812 -0.00194358848977061 0.0401099955799955" rpy="-3.14159265358979 0 0" />
    <parent link="pelvis" />
    <child link="imu_in_pelvis_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="left_hip_pitch_link">
    <inertial>
      <origin xyz="0.00764161 0.06252794 0.00010146" rpy="0 0 0" />
      <mass value="1.47374636" />
      <inertia ixx="0.00246455" ixy="0.00004535" ixz="-0.00000150" iyy="0.00161364" iyz="-0.00000886" izz="0.00177369" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.068 0" rpy="0 1.571 0" />
      <geometry>
        <cylinder radius="0.055" length="0.075" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_pitch_joint" type="revolute">
    <origin xyz="0 0.0713499999999883 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="left_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.705260" upper="2.556907" effort="120" velocity="11.93808" />
  </joint>
  <link name="left_hip_roll_link">
    <inertial>
      <origin xyz="0.00027685 0.00007118 -0.09542281" rpy="0 0 0" />
      <mass value="1.52722346" />
      <inertia ixx="0.00348560" ixy="-0.00000348" ixz="-0.00000358" iyy="0.00379043" iyz="0.00000315" izz="0.00225759" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_roll_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.11" rpy="0.0 0  0" />
      <geometry>
        <cylinder radius="0.0615" length="0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_roll_joint" type="revolute">
    <origin xyz="-0.000574923873940869 0.0656999999999472 0" rpy="0 0 0" />
    <parent link="left_hip_pitch_link" />
    <child link="left_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.235619" upper="2.905973" effort="120" velocity="11.93808" />
  </joint>
  <link name="left_hip_yaw_link">
    <inertial>
      <origin xyz="-0.00308651 0.00428389 -0.14505256" rpy="0 0 0" />
      <mass value="1.88769448" />
      <inertia ixx="0.00958186" ixy="-0.00004885" ixz="0.00064735" iyy="0.01027748" iyz="-0.00031774" izz="0.00205114" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_hip_yaw_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.017" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.025" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.01 -0.0 -0.042" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.028" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.01 -0.0 -0.072" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.028" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.015 -0.0 -0.102" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.028" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.005 -0.0 -0.175" rpy="0 1.571 1.571" />
      <geometry>
        <cylinder radius="0.06" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="left_hip_yaw_joint" type="revolute">
    <origin xyz="0.000574999999824202 0 -0.136850000000024" rpy="0 0 0" />
    <parent link="left_hip_roll_link" />
    <child link="left_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.858775925" upper="3.604104925" effort="120" velocity="11.93808" />
  </joint>
  <link name="left_knee_link">
    <inertial>
      <origin xyz="-0.00836122 0.00293554 -0.12115995" rpy="0 0 0" />
      <mass value="1.66317142" />
      <inertia ixx="0.00815844" ixy="0.00004532" ixz="0.00011322" iyy="0.00775679" iyz="0.00048605" izz="0.00160354" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_knee_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_knee_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="left_knee_joint" type="revolute">
    <origin xyz="-0.00766000000001077 0.000225000000038507 -0.183100000000035" rpy="0 0 0" />
    <parent link="left_hip_yaw_link" />
    <child link="left_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="0.000000" upper="2.408554" effort="120" velocity="11.93808" />
  </joint>
  <link name="left_ankle_pitch_link">
    <inertial>
      <origin xyz="0.00677484 -0.00323423 0.03163713" rpy="0 0 0" />
      <mass value="0.94912290" />
      <inertia ixx="0.00432170" ixy="-0.00002832" ixz="0.00065626" iyy="0.00473398" iyz="-0.00042391" izz="0.00107420" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_ankle_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="left_ankle_pitch_joint" type="revolute">
    <origin xyz="-0.0100000000001469 -0.000124910735289231 -0.282000000000044" rpy="0 0 0" />
    <parent link="left_knee_link" />
    <child link="left_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.802851" upper="0.453786" effort="60" velocity="13.6136" />
  </joint>
  <link name="left_ankle_roll_link">
    <inertial>
      <origin xyz="0.03400407 0.00002946 -0.04872825" rpy="0 0 0" />
      <mass value="1.04791701" />
      <inertia ixx="0.00125492" ixy="0.00000135" ixz="-0.00015054" iyy="0.00434962" iyz="0.00000056" izz="0.00463591" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_ankle_roll_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.05 0.050 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.065 0.025 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 -0.050 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.065 -0.025 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11 0.05 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11 -0.05 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.02 -0.06 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.02 0.06 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.07 -0.06 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.07 0.06 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.139 -0.0 -0.066" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.128 -0.0 -0.02" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint name="left_ankle_roll_joint" type="revolute">
    <origin xyz="-0.00339993297850499 0 0" rpy="0 0 0" />
    <parent link="left_ankle_pitch_link" />
    <child link="left_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2967059728" upper="0.2967059728" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="right_hip_pitch_link">
    <inertial>
      <origin xyz="0.00762829 -0.06242862 0.00018600" rpy="0 0 0" />
      <mass value="1.47631288" />
      <inertia ixx="0.00247835" ixy="-0.00004647" ixz="-0.00000170" iyy="0.00161940" iyz="0.00001547" izz="0.00178243" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.068 0" rpy="0 1.571 0" />
      <geometry>
        <cylinder radius="0.055" length="0.075" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_pitch_joint" type="revolute">
    <origin xyz="0 -0.0713500000000115 0" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="right_hip_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.705260" upper="2.556907" effort="120" velocity="11.93808" />
  </joint>
  <link name="right_hip_roll_link">
    <inertial>
      <origin xyz="0.00026476 -0.00007531 -0.09544587" rpy="0 0 0" />
      <mass value="1.52896200" />
      <inertia ixx="0.00348966" ixy="0.00000363" ixz="-0.00000461" iyy="0.00378774" iyz="-0.00000651" izz="0.00226096" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_roll_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.11" rpy="0.0 0  0" />
      <geometry>
        <cylinder radius="0.0615" length="0.04" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_roll_joint" type="revolute">
    <origin xyz="-0.00057492387393851 -0.065699999958674 0" rpy="0 0 0" />
    <parent link="right_hip_pitch_link" />
    <child link="right_hip_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.905973" upper="0.235619" effort="120" velocity="11.93808" />
  </joint>
  <link name="right_hip_yaw_link">
    <inertial>
      <origin xyz="-0.00332019 -0.00443458 -0.14679393" rpy="0 0 0" />
      <mass value="1.87281245" />
      <inertia ixx="0.00923402" ixy="0.00005432" ixz="0.00061445" iyy="0.00990643" iyz="0.00032925" izz="0.00205541" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_hip_yaw_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.017" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.06" length="0.025" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.01 -0.0 -0.042" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.05" length="0.028" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.01 -0.0 -0.072" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.028" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.015 -0.0 -0.102" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.028" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.005 -0.0 -0.175" rpy="0 1.571 1.571" />
      <geometry>
        <cylinder radius="0.06" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="right_hip_yaw_joint" type="revolute">
    <origin xyz="0.000574955632653334 0 -0.136850118045755" rpy="0 0 0" />
    <parent link="right_hip_roll_link" />
    <child link="right_hip_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.604104925" upper="1.858775925" effort="120" velocity="11.93808" />
  </joint>
  <link name="right_knee_link">
    <inertial>
      <origin xyz="-0.00835813 -0.00120042 -0.12032205" rpy="0 0 0" />
      <mass value="1.65057226" />
      <inertia ixx="0.00785282" ixy="-0.00004932" ixz="0.00010960" iyy="0.00748718" iyz="-0.00052783" izz="0.00156422" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_knee_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_knee_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="right_knee_joint" type="revolute">
    <origin xyz="-0.00766023811333842 -0.000225000041208068 -0.18310009071973" rpy="0 0 0" />
    <parent link="right_hip_yaw_link" />
    <child link="right_knee_link" />
    <axis xyz="0 1 0" />
    <limit lower="0.000000" upper="2.408554" effort="120" velocity="11.93808" />
  </joint>
  <link name="right_ankle_pitch_link">
    <inertial>
      <origin xyz="0.00687436 0.00306255 0.03099390" rpy="0 0 0" />
      <mass value="0.94783305" />
      <inertia ixx="0.00432229" ixy="0.00002852" ixz="0.00065353" iyy="0.00473119" iyz="0.00042725" izz="0.00107766" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_ankle_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="right_ankle_pitch_joint" type="revolute">
    <origin xyz="-0.00999971751936764 0.000124910735271377 -0.281999891565939" rpy="0 0 0" />
    <parent link="right_knee_link" />
    <child link="right_ankle_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.802851" upper="0.453786" effort="60" velocity="13.6136" />
  </joint>
  <link name="right_ankle_roll_link">
    <inertial>
      <origin xyz="0.03396566 0.00005470 -0.04945885" rpy="0 0 0" />
      <mass value="1.04608350" />
      <inertia ixx="0.00125013" ixy="0.00000194" ixz="-0.00015250" iyy="0.00434438" iyz="0.00000190" izz="0.00463459" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_ankle_roll_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.05 0.050 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.065 0.025 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.05 -0.050 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.065 -0.025 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11 0.05 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.11 -0.05 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.02 -0.06 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.02 0.06 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.07 -0.06 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.07 0.06 -0.068" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.139 -0.0 -0.066" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.128 -0.0 -0.02" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.005" />
      </geometry>
    </collision>
  </link>
  <joint name="right_ankle_roll_joint" type="revolute">
    <origin xyz="-0.00339999999316778 0 0" rpy="0 0 0" />
    <parent link="right_ankle_pitch_link" />
    <child link="right_ankle_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.2967059728" upper="0.2967059728" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="-0.00160906 0.00003004 0.03404941" rpy="0 0 0" />
      <mass value="1.75326322" />
      <inertia ixx="0.00248540" ixy="0.00000015" ixz="-0.00014507" iyy="0.00242155" iyz="-0.00000485" izz="0.00296345" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_yaw_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.035" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.065" length="0.05" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0.0670599999999959" rpy="0 0 0" />
    <parent link="pelvis" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.429572" upper="2.120575" effort="120" velocity="11.93808" />
  </joint>
  <link name="waist_pitch_link">
    <inertial>
      <origin xyz="0.00922402 0.00008927 0.00000000" rpy="0 0 0" />
      <mass value="0.42036568" />
      <inertia ixx="0.00015422" ixy="-0.00000035" ixz="0.00000000" iyy="0.00011455" iyz="0.00000000" izz="0.00023135" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/waist_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0.0911806468356143" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.314159" upper="0.314159" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="torso_link">
    <inertial>
      <origin xyz="-0.00691293 0.00007278 0.20488593" rpy="0 0 0" />
      <mass value="10.59420745" />
      <inertia ixx="0.13632061" ixy="0.00006443" ixz="-0.00766778" iyy="0.11449029" iyz="-0.00021011" izz="0.07859462" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/torso_lite_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/torso_lite_link.stl" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.02 0. 0.41" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.08" length="0.08" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_pitch_link" />
    <child link="torso_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.488692" upper="0.488692" effort="36" velocity="14.661" />
  </joint>
  <link name="imu_in_torso_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/imu_in_torso_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="imu_in_torso_joint" type="fixed">
    <origin xyz="-0.0248787137122556 0.00193776753141425 0.107516995693342" rpy="0 0 0" />
    <parent link="torso_link" />
    <child link="imu_in_torso_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.00354798 0.04967835 0.00007969" rpy="0 0 0" />
      <mass value="0.92680928" />
      <inertia ixx="0.00087161" ixy="0.00000736" ixz="-0.00000121" iyy="0.00071163" iyz="-0.00000141" izz="0.00074969" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.05 0" rpy="0 1.571 0" />
      <geometry>
        <cylinder radius="0.045" length="0.055" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.00300070605189752 0.142914189528662 0.241719075414934" rpy="0.20944606878764 0 0" />
    <parent link="torso_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.080506" upper="2.033309" effort="60" velocity="13.6136" />
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="0.00048008 -0.00012041 -0.07729204" rpy="0 0 0" />
      <mass value="0.68561752" />
      <inertia ixx="0.00103341" ixy="-0.00000010" ixz="-0.00000729" iyy="0.00112666" iyz="0.00000229" izz="0.00049573" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_roll_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.07" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.035" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="-0.000241275914297442 0.0495000372110291 3.91201916858375E-05" rpy="0 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.061087" upper="3.045600" effort="60" velocity="13.6136" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.01170995 0.00020036 -0.07168002" rpy="0 0 0" />
      <mass value="0.64753096" />
      <inertia ixx="0.00079305" ixy="-0.00000062" ixz="-0.00009757" iyy="0.00078017" iyz="0.00000323" izz="0.00038113" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_shoulder_yaw_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.004" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.035" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.006 0 -0.040" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.035" length="0.02" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="0.000500095983305679 0 -0.121000051925199" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.556907" upper="2.556907" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="-0.01306399 -0.02519086 -0.08055179" rpy="0 0 0" />
      <mass value="0.62333677" />
      <inertia ixx="0.00075781" ixy="0.00001432" ixz="0.00003623" iyy="0.00072568" iyz="0.00013085" izz="0.00036007" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_elbow_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_elbow_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.0140000944609274 0 -0.0829499999999919" rpy="0 0 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.356194" upper="0.000000" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="-0.00007374 0.00010693 -0.02897294" rpy="0 0 0" />
      <mass value="0.32664866" />
      <inertia ixx="0.00021162" ixy="-0.00000073" ixz="0.00000102" iyy="0.00016838" iyz="-0.00000272" izz="0.00015356" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_yaw_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.03" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_joint" type="revolute">
    <origin xyz="-0.0139998120417983 -9.75487744199199E-05 -0.120494298238467" rpy="0 0 0" />
    <parent link="left_elbow_link" />
    <child link="left_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.556907" upper="2.556907" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.00131476 0.00338376 0.00339354" rpy="0 0 0" />
      <mass value="0.34431419" />
      <inertia ixx="0.00019439" ixy="0.00000725" ixz="0.00000394" iyy="0.00021059" iyz="0.00003452" izz="0.00020070" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="left_wrist_pitch_joint" type="revolute">
    <origin xyz="0 0 -0.082299999999447" rpy="0 0 0" />
    <parent link="left_wrist_yaw_link" />
    <child link="left_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.523599" upper="0.523599" effort="6" velocity="15.707999999999998" />
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.00301672 -0.00139184 -0.08639377" rpy="0 0 0" />
      <mass value="0.33766760" />
      <inertia ixx="0.00075427" ixy="-0.00002783" ixz="-0.00003743" iyy="0.00088625" iyz="0.00001471" izz="0.00024388" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_roll_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/left_wrist_roll_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_wrist_pitch_link" />
    <child link="left_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1.509710" upper="0.724312" effort="6" velocity="15.707999999999998" />
  </joint>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.00289955 -0.04958121 0.00003655" rpy="0 0 0" />
      <mass value="0.93606401" />
      <inertia ixx="0.00087100" ixy="-0.00000754" ixz="-0.00000118" iyy="0.00072209" iyz="0.00000141" izz="0.00076116" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.05 0" rpy="0 1.571 0" />
      <geometry>
        <cylinder radius="0.045" length="0.055" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="0.00325970359616329 -0.142916758596713 0.241717525178737" rpy="-0.209449427348634 0 0" />
    <parent link="torso_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-3.080506" upper="2.033309" effort="60" velocity="13.6136" />
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="0.00058559 0.00011938 -0.07838432" rpy="0 0 0" />
      <mass value="0.67523132" />
      <inertia ixx="0.00097646" ixy="0.00000005" ixz="0.00000013" iyy="0.00105949" iyz="-0.00000225" izz="0.00048420" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_roll_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.07" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.035" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="-0.000500087602446103 -0.049500052938697 0" rpy="0 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3.045600" upper="0.061087" effort="60" velocity="13.6136" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.01160817 -0.00022768 -0.07155268" rpy="0 0 0" />
      <mass value="0.64129141" />
      <inertia ixx="0.00078125" ixy="0.00000041" ixz="-0.00009425" iyy="0.00076756" iyz="-0.00000361" izz="0.00037749" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_shoulder_yaw_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.004" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.045" length="0.035" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.006 0 -0.040" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.035" length="0.02" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="0.000500000000697526 0 -0.120999999940134" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.556907" upper="2.556907" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="-0.01308261 0.02528904 -0.08089583" rpy="0 0 0" />
      <mass value="0.62244416" />
      <inertia ixx="0.00074518" ixy="-0.00001389" ixz="0.00003515" iyy="0.00071592" iyz="-0.00012642" izz="0.00035927" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_elbow_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_elbow_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.014000000000013 0 -0.0829499999999659" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-2.356194" upper="0.000000" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="-0.00010822 -0.00013029 -0.02928619" rpy="0 0 0" />
      <mass value="0.33028980" />
      <inertia ixx="0.00021974" ixy="0.00000118" ixz="0.00000137" iyy="0.00017157" iyz="0.00000331" izz="0.00015898" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_yaw_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.02" rpy="0 0 0" />
      <geometry>
        <cylinder radius="0.04" length="0.03" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_joint" type="revolute">
    <origin xyz="-0.0140000015224697 9.75654793692327E-05 -0.120494276209719" rpy="0 0 0" />
    <parent link="right_elbow_link" />
    <child link="right_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.556907" upper="2.556907" effort="36" velocity="14.660799999999998" />
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.00130985 -0.00313432 0.00298476" rpy="0 0 0" />
      <mass value="0.33614452" />
      <inertia ixx="0.00018043" ixy="-0.00000752" ixz="0.00000453" iyy="0.00019772" iyz="-0.00003015" izz="0.00019614" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_pitch_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
  </link>
  <joint name="right_wrist_pitch_joint" type="revolute">
    <origin xyz="0 0.000499999971190546 -0.0822999999999991" rpy="0 0 0" />
    <parent link="right_wrist_yaw_link" />
    <child link="right_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.523599" upper="0.523599" effort="6" velocity="15.707999999999998" />
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.00326254 0.00128068 -0.08646754" rpy="0 0 0" />
      <mass value="0.33733146" />
      <inertia ixx="0.00075219" ixy="0.00002777" ixz="-0.00003751" iyy="0.00088376" iyz="-0.00001395" izz="0.00024344" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_roll_link.stl" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="./meshes/right_wrist_roll_link.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_wrist_pitch_link" />
    <child link="right_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.724312" upper="1.509710" effort="6" velocity="15.707999999999998" />
  </joint>
</robot>
